*{
  box-sizing: border-box;
}

body{
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
}

#app-container{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.columns-container{
  font-size: 0;
}

.background{
  background-image: url("../images/hero-splash-roommates-fun.jpg");
  background-size: cover;
  padding: 100px 0;
  margin-top: 90px;
}

.search{
  padding: 20px;
  background: rgba(51,51,51,.70);
  text-align: center;
  color: #fff;
}

.search h1{
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
}
.search p{
  font-size: 14px;
  margin-top: 10px;
}
.search input{
  width: 360px;
  height: 40px;
}
.search button{
  border: 1px solid #29BBAF;
  background: #29BBAF;
  color: white;
  width: 70px;
  height: 40px;
}
.city{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 20px;
  font-size: 14px;
  /*margin-left: 20px;*/
}

.city img{
  width: 70%;
  display: block;
  margin-left: 20px;
}

.city p{
  display: block;
  margin-left: 20px;
  background-color: #333333;
  color: white;
  width: 70%;
  margin-top: 0px;
}
.button-column{
  text-align: center;
  padding: 20px
}

.button-column button{
  border: 3px solid #F55E05;
  background: white;
  color: #F55E05;
  width: 100px;
  height: 50px;
}

.room-column,
.listings-column{
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  background-color: #DDDDDD;
  height: 450px;
  padding: 50px;
}

.room-column{
  position: relative;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-right: 80px;
  padding-left: 80px;
}
.text{
  width: 60%;
  margin-left: 50px;
  position: relative;
  border: 1px solid black;
  background-color: white;
  text-indent: 5%;
}
.room-column img{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-bottom: none;
}
.heart i{
  position: absolute;
  top: 5%;
  right: 10%;
  color: red;
  font-size: 40px;

}
.listings-column{
  width: 50%;
}

.links-column{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  width: 33.3333%;
  background: #333333;
  text-indent: 5%;
}
.links-column h1{
  color: white;
  font-weight: 200;
}

.links-column p{
  color: #8F8F8F;
}

.icon-column{
  width: 100%
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  background: #333333;
  text-align: right;
  padding: 20px;
}
.icon-column img{
  height: 50px;
  margin: 10px;
}

/*part 2*/
.help-box {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 120px;
  width: 240px;
  border: 4px #29bbaf solid;
  background: white;
}

.arrow{
  position: absolute;
  right: -4px;
  top: -35%;
  width: 16%;
  border: 4px solid #29bbaf;
  background-color: #29bbaf;
  text-align: center;
}
.arrow i{
  width: 100%;
  color: white;
  font-size: 35px;
  margin-top: -5px;
  padding-bottom: 0px;

}
.help-box h1{
  font-size: 20px;
  font-weight: 400;
  background: #b0e6e2;
  margin-top: 0px;
}
.tiffany img{
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 10px;
}

.help-box p{
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 12px;
  transform: translateX(-10%) translateY(-50%);;
}
.help-box span{
  color: #f55e05;
}
.header-box{
  position: absolute; top: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 90px;
  font-size: medium;
  background: #f55e05;
}
.header-box img{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  width: 120px;
  height: 50px;
}
.links{
  float: right;
  color: white;
  margin-right: 30px;
  margin-top: 35px;
  font-size: medium;
}
.links button{
  border: 2px #29BBaf solid;
  background: #ff5e05;
  margin-top: -2px;
  font-size: medium;
  color: #29bbaf;
}
.links button:hover{
  background: #29bbaf;
  color: #ff5e05;
}
